body {
    position: relative;
    background-color: #fafafa;
}

main {
    margin: 20px;
}

main h1,
h2 {
    text-align: center;
}

footer {
    position: absolute;
    height: 50px;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #000;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

.toggle,
[id^=drop] {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    background-color: #000;
    position: relative;
    height: 60px;
    width: 100%;
    z-index: 999;
}

.nav #logo {
    display: block;
    padding: 0 30px;
    float: left;
    line-height: 60px;
    width: 172px;
    height: 48px;
}

.nav #logo img {
    width: 70px;
}

.nav:after {
    content: "";
    display: table;
    clear: both;
}

.nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.nav ul li {
    margin: 0;
    display: inline-block;
}

.nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}


.nav ul li a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.card {
    padding: 20px;
    width: 200px;
    border-radius: 1rem;
    margin: 10px auto;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 8px 16px 0px rgba(10, 14, 29, 0.04), 0px 8px 64px 0px rgba(10, 14, 29, 0.08);
}

.card figure {
    margin: 0;
    padding: 0;
}

.card figure img {
    width: 70px;
}

.card a {
    display: block;
    margin: auto;
    width: 60%;
    color: #fff;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    background-color: #000;
}

#quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.question {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0px rgba(10, 14, 29, 0.04), 0px 8px 64px 0px rgba(10, 14, 29, 0.08);;
    margin-bottom: 20px;
}

.question-text {
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin: 10px;
}

.correct-answer {
    color: green;
    font-weight: bold;
}

.wrong-answer {
    color: red;
    font-weight: bold;
}

.answer-btn {
    margin-top: 10px;
}

@media all and (max-width: 768px) {
    main {
        text-align: center;
        margin-top: 40px;
    }

    .nav #logo {
        display: block;
        padding: 0;
        float: none;
        width: 100%;
        text-align: center;
    }

    .nav {
        margin: 0;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 14px 20px;
        color: #fff;
        background-color: #000;
        font-size: 18px;
        text-decoration: none;
        border: none;
        text-align: center;
    }

    .nav ul li a {
        background-color: #000;
        color: #fff;
    }

    [id^=drop]:checked+ul {
        display: block;
        width: 100%;
        background-color: var(--secondary-color);
        border-radius: 10px;
    }

    .nav ul li {
        display: block;
        width: 100%;
        text-align: center;
    }

    .card {
        width: 100%;
        margin: 10px auto;
    }
}